PORT=3001
JWT_SECRET=votremarche_secret_super_securise_changez_en_prod_2025
NODE_ENV=development

# Email (optionnel — laisser vide pour simuler)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre@gmail.com
SMTP_PASS=votre_mot_de_passe_app
